* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    background-color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}
#wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 100px;
    background: url(images/logo.jpg) no-repeat right center;
}
main {
    display: flex;
    flex-direction: row;
}
#left, #right {
    width: 250px;
    background-color: #ebd3e1;
    min-height: 350px;
}
#content {
    width: 524px;
    background-color: #d4d4d4;
    min-height: 350px;
}
nav {
    height: 50px;
    background-color: #c3c3c3;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}
nav ul li {
    font-size: 18px;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
    color: black;
    background-color:red;
    height: 40px;
    width: 160px;
    display: flex;
    border-radius: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}